<form #f="ngForm" (ngSubmit)="onSubmit(f, nome, email)">

  <div class="row">
    <div [class]="'col-sm-12 form-group'" [formValidation]="nome" [validationMessage]="'Nome Inválido'">
      <label class="control-label" for="nome">Nome</label>
      <input #nome="ngModel" ngModel required type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
    </div>
  </div>

  <div class="row">
    <div [class]="'col-sm-12 form-group'" [formValidation]="email" [validationMessage]="'Email Inválido'" [emptyMessage]="'Email Obrigatórios'"
      [useIcon]="true">
      <label class="control-label" for="email">Email</label>
      <input #email="ngModel" email [ngModel]="usuario.email" type="email" class="form-control" id="email" name="email">
    </div>
  </div>

  <div ngModelGroup="endereco">
    <div class="row">
      <div [class]="'form-group col-sm-3'" [formValidation]="cep" [validationMessage]="'Cep Inválido'" [useIcon]="true">
        <label for="cep" class="control-label" (click)="onCepClick(f.form)">CEP</label>
        <input (blur)="OnCepBlur($event.target.value, f)" id="cep" name="cep" ngModel required #cep="ngModel"
          class="form-control">
      </div>

      <div [class]="'form-group col-sm-3'" [formValidation]="num" [validationMessage]="'Número Inválido'" [useIcon]="true">
        <label for="num" class="control-label">Numero</label>
        <input id="num" name="num" ngModel required #num="ngModel" class="form-control">
      </div>

      <div [class]="'form-group col-sm-6'" [formValidation]="comp" [validationMessage]="'Complemento Inválido'" [useIcon]="true">
        <label for="comp" class="control-label">Complemento</label>
        <input id="comp" name="comp" ngModel required #comp="ngModel" class="form-control">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 form-group">
        <label class="control-label" for="rua">Rua</label>
        <input name="rua" ngModel type="text" class="form-control" id="rua" readonly>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5 form-group">
        <label class="control-label" for="bairro">Bairro</label>
        <input name="bairro" ngModel type="text" class="form-control" id="bairro" readonly>
      </div>

      <div class="col-sm-4 form-group">
        <label class="control-label" for="cidade">Cidade</label>
        <input name="cidade" ngModel type="text" class="form-control" id="cidade" readonly>
      </div>

      <div class="col-sm-3 form-group">
        <label class="control-label" for="estado">Estado</label>
        <input name="estado" ngModel type="text" class="form-control" id="estado" readonly>
      </div>
    </div>
  </div>

  <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Submit</button>

</form>

<app-form-debug [form]="f"></app-form-debug>