<nav class="navbar navbar-default">
  <a class="navbar-brand" routerLink="">Angular Forms</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="templateForm">Form - Template Driven</a>
      </li>
      <li routerLinkActive="active"> 
        <a class="nav-link" routerLink="dataForm">Form - Data Driven</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" >  
  <router-outlet></router-outlet>
</div>

