<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li [class.active]="aba == 'Home'" class="nav-item">
        <a (click)="aba = 'Home'" class="nav-link" href="#">Home </a>
      </li>
      <li [class.active]="aba == 'Features'" class="nav-item">
        <a (click)="aba = 'Features'" class="nav-link" href="#">Features </a>
      </li>
      <li [class.active]="aba == 'Pricing'" class="nav-item">
        <a (click)="aba = 'Pricing'" class="nav-link" href="#">Pricing </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'Home'">Modo Home Ativado</p>
  <p *ngSwitchCase="'Features'">Modo Features Ativado</p>
  <p *ngSwitchCase="'Pricing'">Modo Pricing Ativado</p>
  <p *ngSwitchDefault>Modo Default Ativado</p>
  
</div>